<!DOCTYPE html>
<html>
<head>
    <title>Laporan Penilaian Magang 2023</title>
</head>
<style>
    table, th, td {
        border: 1px solid;
        border-collapse: collapse;
    }
</style>
<body>

    <center>
    <p></p><h2>DINAS PENDIDIKAN KOTA KEDIRI</h2>
    </center>
    <b>Nama :</b><br>
    <b>Kompetensi Keahlian :</b><br>
    <b>Sekolah :</b><br>
    <hr>
    <br>
    <div class="row">
        <div class="col-md-12">
        </div>
    </div>
    <div class="container-fluid">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>No</th>
                    <th>Aspek Yang Dinilai</th>
                    <th>Nilai</th>
                    <th>Keterangan</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ $loop->iteration }}</td>
                    <td>{{ $item->}}</td>
                    <td>{{ $item->}}</td>
                    <td>{{ $item->}}</td>
                </tr>
            </tbody>
        </table>
        <br>
        Kediri, 29 Agustus 2022<br>
        Ka. Sub. Bagian Umum<br>
        Dinas Pendidikan Kota Kediri<br>
        <br>
        <br>
        <br>
        <br>
        <b>SARI BASUKI, S.E</b><br>
        NIP. 19780812 20012 2 004

    </div>
</body>
</html>